
# Backend / Express
PORT=3000
CLIENT_ORIGIN=http://localhost:5173

# Frontend / Vite
VITE_API_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/view_my_movie?schema=public"