.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button,
.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  padding: 12px;

  background: var(--black-100);
  color: var(--gray-200);
  font-size: 18px;

  cursor: pointer;
}

.pageButton.active {
  background: var(--pure-white);
  color: var(--black-400);
}

/* 모바일 버전 적용 */
@media (max-width: 768px) {
  .button,
  .pageButton {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    padding: 4px;

    font-size: 16px;
  }

  .pageButton.active {
    background: var(--brand-purple);
    color: var(--pure-white);
  }
}
